ul.list--subselection ul.list--subselection {
  padding-left:1em
}

.facet-box {
  overflow-y: scroll;
  max-height: 15em;
  border: 1px solid #ccc;
  padding: 0.4em;
}

#searchresult-searchform2 {
  overflow: hidden;
}

.js-filterresults__resultmother fieldset {
    margin-bottom: .5em;
    margin-top: -.5em;
}

redoc table {
  border: none;
}

redoc table td {
  border-bottom: none;
  border-left: none;
}

redoc div.redoc-wrap td ul {
  list-style: circle;
  padding-left: 1em;
}

redoc div[role="search"] input[type="text"] {
  margin: 0 20px;
  padding: .6em 2em;
}

redoc div[role="search"] svg {
  left: 30px;
  top: 14px;
}

redoc div.redoc-wrap a {
  text-decoration: underline;
  color: #154273;
}

redoc div.redoc-wrap h3 {
  margin: 1em 0;
}

redoc div.redoc-wrap h1, redoc div.redoc-wrap h2, redoc div.redoc-wrap h3 {
  font-weight: 700;
  line-height: 1.2em;
  color: unset;
  margin-top: .625em;;
}

redoc hr {
  border: none;
  border-bottom: 1px solid rgba(38, 50, 56, 0.3);
}

redoc a.button[href]:hover {
  text-decoration: underline;
  color: unset;
}
